<p>GSD-List is a web-based application built using ASP.NET Core and Angular. The application provides users with the
    ability to manage their tasks and projects efficiently, with an intuitive user interface and a robust feature set.
</p>
<p>
    The application provides users with a comprehensive list of tasks, complete with detailed descriptions and status
    updates. It also allows users to create new tasks, edit existing ones, and remove tasks that are no longer needed.
    Additionally, the application provides filtering and sorting capabilities, allowing users to quickly identify tasks
    that require their attention. </p>