<table mat-table [dataSource]="tasks" class="mat-elevation-z8">
    <ng-container matColumnDef="taskName">
        <th mat-header-cell *matHeaderCellDef> Task Name </th>
        <td mat-cell *matCellDef="let element"> {{element.taskName}} </td>
    </ng-container>
    <!-- app.component.html -->
    <router-outlet></router-outlet>

    <ng-container matColumnDef="taskDescription">
        <th mat-header-cell *matHeaderCellDef> Task Description </th>
        <td mat-cell *matCellDef="let element"> {{element.taskDescription}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>